<div class="row">
        <div class="col-md-9">
            <h1>Clifton Arts Club Membership Database</h1>
        </div>
        <div class="col-md-3">
            <br>
            <%= link_to 'Sign in', new_user_session_path, class:'btn btn-lg btn-primary' %>
        </div>
    </div><!-- end of row -->
    <div class="row">
        <hr>
    </div><!-- end of row -->