<div class="row">
        <div class="col-md-9">
            <h1>Clifton Arts Club Membership Database</h1>
        </div>
        <div class="col-md-3">
            <br>
            <% if user_signed_in? %>
				<%= link_to 'Members', members_path, class:'btn btn-lg btn-primary' %>
            <% else %>
            	<%= link_to 'Sign in', new_user_session_path, class:'btn btn-lg btn-success' %>
            <% end %>
        </div>
    </div><!-- end of row -->
    <div class="row">
        <hr>
    </div><!-- end of row -->